<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Cells</title>
  <link rel="stylesheet" href="css/Styles.css">
</head>

<body>

  <div class="site">

    <div class="logo">  
      <img src="images/site/logo.jpeg" width="207" height="124" alt="Cells" />
      <h2>Biological Cells</h2>
    </div>

    <div id="allCells"></div>

    <div id="copy"></div>>

  </div>  


  <script id="cellElement" type="text/template">
    <a href="#<%= link %>"><img src="<%= img %>" alt="<%= name %>"> class="image" /></a>
    <ul>
      <li class="cellInfo"><strong>Name:</strong>> <%= name %><li>
      <li class="cellInfo"><strong>Shape:</strong>> <%= shape %><li>
      <li class="cellInfo"><strong>Color:</strong>> <%= color %><li>
    </ul>
  </script>


  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/models/singleCellModel.js"></script>
  <script src="js/views/singleCellView.js"></script>
  <script src="js/views/allCellsView.js"></script>
  <script src="js/collections/allCells.js"></script>
  <script src="js/routes/router.js"></script>
  <script src="js/cellApp.js"></script>

</body>
</html>